<div ng-controller="contractManageController as vm" class="innerTop" ng-init="vm.getIsts()">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;" ui-sref="home">首页</a>
        </li>
        <li class="active">合同管理</li>
    </ol>
    <div class="pLR30">
        <div class="rightDiv">
            <div class="rightContTitle">
                <h2>合同管理</h2>
            </div>
            <div class="queryDiv">
                <div class="queryDivIn">
                    <form class="form-horizontal">
                        <div>
                            <div class="f_l mr15 mb10">
                                <select class="form-control w150" ng-model="vm.query.stlgctp"
                                        ng-options="o.stlgctp as o.name for o in vm.stlgctpList">
                                    <option value="">资产分类</option>
                                </select>
                            </div>
                            <div class="f_l mr15 mb10">
                                <select class="form-control w150" ng-model="vm.query.itp"
                                        ng-options="o.itp as o.name for o in vm.itpList">
                                    <option value="">合同类型</option>
                                </select>
                            </div>
                            <div class="f_l mr15 mb10">
                                <select class="form-control w150" ng-model="vm.query.ists"
                                        ng-options="o.code as o.desc for o in vm.istsList">
                                    <option value="">合同状态</option>
                                </select>
                            </div>
                            <div class="f_l mr15 mb10">
                                <select class="form-control w150" ng-model="vm.query.isgn_w"
                                        ng-options="o.isgn_w as o.name for o in vm.isgn_wList">
                                    <option value="">签署方式</option>
                                </select>
                            </div>
                            <div class="f_l mr15 mb10">
                                <input type="text" class="form-control" placeholder="请输入项目名"
                                       ng-model="vm.query.orgAndpj">
                            </div>
                            <div class="f_l mb10">
                                <input class="btn btn-info mr15" type="submit" value="查询" ng-click="vm.submit()">
                                <input class="btn btn-warning" type="submit" value="重置" ng-click="vm.resetQuery()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="buttonList" ng-if="vm.list.length > 0">
                <a href="javascript:;" class="view" ng-click="vm.showContractInfoPop()">查看编辑</a>
                <a href="javascript:;" class="edit" ng-click="vm.showAddtracePop()">合同追踪</a>
                <a href="javascript:;" class="track" ng-click="vm.showTrackListPop()">追踪记录</a>
                <a href="javascript:;" class="view" ng-click="vm.downloadZip()">下载</a>
                <a href="javascript:;" class="view" ng-click="vm.showUnderPop()">上传线下合同</a>
            </div>
            <div class="noDataDiv" ng-if="!vm.list.length">
                <div class="noData">
                    <div class="noDataBg"></div>
                    <p>暂时没有数据～</p>
                </div>
            </div>
            <table class="table tableInfo" ng-if="vm.list.length > 0">
                <tr>
                    <th></th>
                    <th>卖方机构名称</th>
                    <th>买方机构名称</th>
                    <th>合同种类</th>
                    <th>项目名称</th>
                    <th>资产类型</th>
                    <th>资产分类</th>
                    <th>交易达成时间</th>
                    <th>合同状态</th>
                    <th>签署方式</th>
                </tr>
                <tr ng-repeat="obj in vm.list" ng-click="vm.selectThis(obj)" ng-class="{'hover':obj.checked}">
                    <td><i ng-class="{'checked':obj.checked}"></i></td>
                    <td ng-bind="obj.cmp_nm"></td>
                    <td ng-bind="obj.cmp_nm_b"></td>
                    <td ng-bind="obj.tp"></td>
                    <td ng-bind="obj.st_nm"></td>
                    <td ng-bind="obj.st_tp"></td>
                    <td ng-bind="obj.st_lgc_tp"></td>
                    <td ng-bind="obj.cntrct_crt_dt"></td>
                    <td ng-bind="obj.sts"></td>
                    <td ng-bind="obj.sgn_w_nm"></td>
                </tr>
            </table>
            <div class="page" paging page-object="vm.query" click-function="vm.getPagedDataAsync"></div>
        </div>
    </div>
    <!--查看编辑-->
    <div class="mask blackMask mask_visible" ng-if="vm.showContractInfo">
        <div class="memberPopEdit">
            <div class="title">
                <h2 ng-bind="vm.titleView"></h2>
                <i ng-click="vm.closePop()"></i>
            </div>
            <div class="errorMessageDiv" ng-if="vm.showErrorMessage">
                <p ng-bind="vm.erroeMessage"></p>
            </div>
            <ul class="inDiv">
                <li>
                    <div class="leftKey">签署方式:</div>
                    <div class="rightVal">
                        <label><input type="radio" name="sgn_w" ng-model="vm.contractInfoList.sgn_w"
                                      value="0">线上</label>
                        <label><input type="radio" name="sgn_w" ng-model="vm.contractInfoList.sgn_w"
                                      value="1">线下</label>
                    </div>
                </li>
                <li>
                    <div class="leftKey">合同总值:</div>
                    <div class="rightVal">
                        <input type="text" class="form-control w300" placeholder="请输入合同总值"
                               ng-model="vm.contractInfoList.cnt_ttl">
                    </div>
                </li>
                <li>
                    <div class="leftKey">第一笔款:</div>
                    <div class="rightVal">
                        <input type="text" class="form-control w300 f_l" placeholder="请输入第一笔款"
                               ng-model="vm.contractInfoList.frst_pymnt"><span class="f_l ml5">%</span>
                    </div>
                </li>
                <li>
                    <div class="leftKey">第一笔款项付款期限:</div>
                    <div class="rightVal">
                        <input type="text" class="form-control w300" placeholder="请选择第一笔款付款日期"
                               ng-model="vm.contractInfoList.frst_pymnt_lmt" readonly="" id="frst_pymnt_lmt">
                    </div>
                </li>
                <li>
                    <div class="leftKey">第二笔款:</div>
                    <div class="rightVal">
                        <input type="text" class="form-control w300 f_l" placeholder="请输入第二笔款"
                               ng-model="vm.contractInfoList.scnd_pymnt"><span class="f_l ml5">%</span>
                    </div>
                </li>
                <li>
                    <div class="leftKey">第二笔款项付款期限:</div>
                    <div class="rightVal">
                        <input type="text" class="form-control w300" placeholder="请选择第二笔款付款日期"
                               ng-model="vm.contractInfoList.scnd_pymnt_lmt" readonly="" id="scnd_pymnt_lmt">
                    </div>
                </li>
                <li>
                    <div class="leftKey">第三笔款:</div>
                    <div class="rightVal">
                        <input type="text" class="form-control w300 f_l" placeholder="请输入第三笔款"
                               ng-model="vm.contractInfoList.th_pymnt"><span class="f_l ml5">%</span>
                    </div>
                </li>
                <li>
                    <div class="leftKey">第三笔款项付款期限:</div>
                    <div class="rightVal">
                        <input type="text" class="form-control w300" placeholder="请选择第三笔款付款日期"
                               ng-model="vm.contractInfoList.th_pymnt_lmt" readonly="" id="th_pymnt_lmt">
                    </div>
                </li>
            </ul>
            <div style="text-align: center;margin-top:10px">
                <input class="btn btn-info mr15" type="submit" value="确定" ng-click="vm.toContractInfo()">
                <input class="btn btn-warning" type="submit" value="取消" ng-click="vm.closePop()">
            </div>
        </div>
    </div>
    <!--合同追踪-->
    <div class="mask blackMask mask_visible" ng-if="vm.showAddtrace">
        <div class="memberPopEdit">
            <div class="title">
                <h2 ng-bind="vm.titleView"></h2>
                <i ng-click="vm.closePop()"></i>
            </div>
            <div class="errorMessageDiv" ng-if="vm.showErrorMessage">
                <p ng-bind="vm.erroeMessage"></p>
            </div>
            <ul class="inDiv" style="height:300px">
                <li>
                    <div class="leftKey">项目名称:</div>
                    <div class="rightVal" ng-bind="vm.st_nm"></div>
                </li>
                <li>
                    <div class="leftKey">卖方机构名称:</div>
                    <div class="rightVal" ng-bind="vm.cmp_nm"></div>
                </li>
                <li>
                    <div class="leftKey">买方机构名称:</div>
                    <div class="rightVal" ng-bind="vm.cmp_nm_b"></div>
                </li>
                <li>
                    <div class="leftKey">追踪时间:</div>
                    <div class="rightVal">
                        <input type="text" class="form-control w300" placeholder="请选择追踪时间"
                               ng-model="vm.addtrace.cntrct_dt" readonly="" id="cntrct_dt">
                    </div>
                </li>
                <li>
                    <div class="leftKey">追踪记录:</div>
                    <div class="rightVal">
                        <textarea class="form-control w300 h80" placeholder="请输追踪记录"
                                  ng-model="vm.addtrace.cntrct_inf" id="cntrct_inf"></textarea>
                    </div>
                </li>
                <li style="height:auto;overflow: hidden;width:100%;padding-top:10px">
                    <div class="leftKey">相关附件:</div>
                    <div class="rightVal">
                        <div class="imgOut">
                            <div ng-repeat="item in thumb" class="imgDiv" show-delete style="width:290px;height:140px;">
                                <div class="deleteDiv" ng-if="item">
                                    <span ng-click="img_del($index,1)" class="imgDele"></span>
                                </div>
                                <label ng-if="item">
                                    <img ng-src="{{item}}" style="width:290px;height:140px"/>
                                </label>
                            </div>
                            <div class="upImgIco" ng-if="addIcon" style="width:290px;height:140px;background-size:100% 100%">
                                <input type="file" id="one-input" accept="image/*" file-model="images" onchange="angular.element(this).scope().img_upload(this.files,1)" class="upImgInput"/>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div style="text-align: center;margin-top:10px">
                <input class="btn btn-info mr15" type="submit" value="确定" ng-click="vm.toAddtrace()">
                <input class="btn btn-warning" type="submit" value="取消" ng-click="vm.closePop()">
            </div>
        </div>
    </div>
    <!--确认框-->
    <div class="mask blackMask mask_visible" ng-if="vm.showAlert">
        <div class="alertEdit">
            <div class="title">
                <h2>提示</h2>
                <i ng-click="vm.closePopPic()"></i>
            </div>
            <ul class="inDiv">
                <li>
                    <p style="text-align: center;font-size:16px;margin-top:10px">您确定删除吗？</p>
                </li>
            </ul>
            <div style="text-align: center;margin-top:10px">
                <input class="btn btn-info mr15" type="submit" value="确认" ng-click="delete()" ng-if="vm.iconDelete =='imgDele'">
                <input class="btn btn-warning" type="submit" value="取消" ng-click="vm.closePopPic()">
            </div>
        </div>
    </div>
    <!--追踪记录-->
    <div class="mask blackMask mask_visible" ng-if="vm.showTrackList">
        <div class="listPop">
            <div class="title">
                <h2 ng-bind="vm.titleView"></h2>
                <i ng-click="vm.closePop()"></i>
            </div>
            <ul class="inDiv" style="height: 115px;margin-top: 20px;">
                <li>
                    <div class="leftKey">项目名称:</div>
                    <div class="rightVal" ng-bind="vm.st_nm"></div>
                </li>
                <li style="border-bottom: 1px dashed #dcdcdc">
                    <div class="leftKey">卖方机构名称:</div>
                    <div class="rightVal" ng-bind="vm.cmp_nm"></div>
                </li>
                <li style="border-bottom: 1px dashed #dcdcdc">
                    <div class="leftKey">买方机构名称:</div>
                    <div class="rightVal" ng-bind="vm.cmp_nm_b"></div>
                </li>
            </ul>
            <div class="scroll">
                <table class="table tableInfo">
                    <tr>
                        <th>服务时间</th>
                        <th>操作人</th>
                        <th>追踪内容</th>
                        <th>上传文件名</th>
                    </tr>
                    <tr ng-repeat="log in vm.popLogList">
                        <td ng-bind="log.dt"></td>
                        <td ng-bind="log.crt_usr_cd"></td>
                        <td ng-bind="log.inf"></td>
                        <td><a href="javascript:;" ng-bind="log.upfile" ng-click="vm.downloadPic(log.sid,log.upfile)"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--上传线下合同-->
    <div class="mask blackMask mask_visible" ng-if="vm.showUnder">
        <div class="memberPopEdit">
            <div class="title">
                <h2 ng-bind="vm.titleView"></h2>
                <i ng-click="vm.closePop()"></i>
            </div>
            <div class="errorMessageDiv" ng-if="vm.showErrorMessage">
                <p ng-bind="vm.erroeMessage"></p>
            </div>
            <ul class="inDiv">
                <li>
                    <div class="leftKey">项目名称:</div>
                    <div class="rightVal" ng-bind="vm.st_nm"></div>
                </li>
                <li>
                    <div class="leftKey">卖方机构名称:</div>
                    <div class="rightVal" ng-bind="vm.cmp_nm"></div>
                </li>
                <li>
                    <div class="leftKey">买方机构名称:</div>
                    <div class="rightVal" ng-bind="vm.cmp_nm_b"></div>
                </li>
                <li style="height:auto;overflow: hidden;width:100%;padding-top:10px">
                    <div class="leftKey">资料上传:</div>
                    <div class="rightVal">
                        <div class="uploadFiles"><span class="wj_text" ng-bind="vm.inputText"></span>
                            <input type="file"class="uploadFilesNm"  ng-file-select="vm.onFileSelect($files)" multiple accept="application/pdf">
                        </div>
                    </div>
                </li>
                <li style="height: 76px;">
                    <div class="leftKey"></div>
                    <div class="rightVal" style="width: 360px;float: right;padding-right: 50px;">
                        上传的每类资料需要以PDF形式上传，每个上传包不超过20M
                    </div>
                </li>
            </ul>
            <div style="text-align: center;margin-top:10px">
                <input class="btn btn-info mr15" type="submit" value="确定" ng-click="vm.toUnder()">
                <input class="btn btn-warning" type="submit" value="取消" ng-click="vm.closePop()">
            </div>
        </div>
    </div>
</div>

