<div ng-controller="aboutUsController as vm" class="innerTop">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;" ui-sref="home">首页</a>
        </li>
        <li class="active">关于我们</li>
    </ol>
    <div class="pLR30">
        <div class="rightDiv">
            <div class="rightContTitle">
                <h2>关于我们</h2>
            </div>
            <div class="pLR15">
                <div ueditor id="container" config="{{vm.config}}" style="width:100%"></div>
            </div>

        </div>
    </div>
</div>