<div  ng-controller="unMembersListController as vm" class="innerTop">
	<ol class="breadcrumb">
		<li>
			<a href="javascript:;" ui-sref="home" >首页</a>
		</li>
		<li class="active">未完善会员一览</li>
	</ol>
	<div class="pLR30">
		<div class="rightDiv">
			<div class="rightContTitle">
				<h2>未完善会员一览</h2>
			</div>
			<div class="queryDiv">
				<div class="queryDivIn">
					<form class="form-horizontal">
						<div>
							<div class="f_l mr15">
								<select class="form-control w150" ng-model="vm.query.auditType"
										ng-options="o.type as o.name for o in vm.memberType">
									<option value="">会员类型</option>
								</select>
							</div>
							<div class="f_l mr15">
								<select class="form-control w150" ng-model="vm.query.creatTime"
										ng-options="o.creatTime as o.name for o in vm.createTimeArry">
									<option value="">创建时间</option>
								</select>
							</div>
							<div class="f_l mr15">
								<input type="text" class="form-control" placeholder="请输入关键字（名称）" ng-bind="vm.query.mobile">
							</div>
							<input class="btn btn-info mr15" type="submit" value="查询" ng-click="vm.submit()">
						</div>
					</form>
				</div>
			</div>
			<div class="buttonList" ng-if="vm.list.length > 0">
				<a href="javascript:;" class="view" ng-click="vm.singleClick('view')">查看</a>
				<a href="javascript:;" class="edit" ng-click="vm.singleClick('edit')">编辑</a>
				<a href="javascript:;" class="track" ng-click="vm.singleClick('track')">追踪</a>
			</div>
			<div class="noDataDiv" ng-if="!vm.list.length">
				<div class="noData">
					<div class="noDataBg"></div>
					<p>暂时没有数据～</p>
				</div>
			</div>
			<table class="table tableInfo" ng-if="vm.list.length > 0">
				<tr>
					<th></th>
					<th>登录名</th>
					<th>手机号码</th>
					<th>创建时间</th>
					<th>跟踪次数</th>
				</tr>
				<tr ng-repeat="member in vm.list" ng-click="vm.selectThis(member)" ng-class="{'hover':member.checked}">
					<td><i ng-class="{'checked':member.checked}"></i></td>
					<td ng-bind="member.usr_cd"></td>
					<td ng-bind="member.mbl"></td>
					<td ng-bind="member.crt_tm"></td>
					<td ng-bind="member.zuiSum"></td>
				</tr>
			</table>
			<div class="page" paging page-object="vm.query" click-function="vm.getPagedDataAsync"></div>
		</div>
	</div>
</div>